<%- layout("/layout/boilerplates.ejs")%>
<style>
    .add{
        margin-top:1rem;
        padding: .3rem 2rem;
    }
</style>


<form action="/accountpassword/create">
    <button type="submit" class="btn btn-success add">ADD</button>
</form>
    
  <div class="table-container">
    <table class="passwordTable">
        <thead>
            <tr>
                <th>Bank Name</th>
                <th>Work</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for(user of users){ %>
            <tr>
                <td data-label="Bank Name"><%= user.bankname %></td>
                <td data-label="Work"><%= user.work %></td>
                <td data-label="Password"><%= user.password %></td>
                <td class="action-buttons">
                    <form action="/accountdetail/<%= user.id %>/update">
                        <button type="submit" class="edit-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                            </svg>
                            Edit
                        </button>
                    </form>
                    <form action="/accountdetail/<%= user.id %>?_method=Delete" method="post">
                        <button type="submit" class="delete-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

    